unit-xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ExternalReference">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string" />
                <xs:attribute name="lastChange" type="xs:dateTime" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Dependency">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="for" default="player">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="player" />
                            <xs:enumeration value="editor" />
                            <xs:enumeration value="schemer" />
                            <xs:enumeration value="coder" />
                            <xs:enumeration value="rich-notes" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="UIDefinition">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ExternalReference">
                    <xs:attribute name="player" type="xs:string" use="required" />
                    <xs:attribute name="editor" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="UIDefinitionRef" substitutionGroup="UIDefinition" />

    <xs:element name="Unit">
        <xs:complexType>
            <xs:all>
                <xs:element name="Label" type="xs:string" minOccurs="0" />
                <xs:element name="Description" type="xs:string" minOccurs="0" />

                <xs:element ref="UIDefinition" />

                <xs:element name="CodingSchemeRef" minOccurs="0" type="ExternalReference" />
                <xs:element name="CommentsRef" minOccurs="0" type="ExternalReference" />
                <xs:element name="RichNotesRef" minOccurs="0" type="ExternalReference" />
                <xs:element name="MetadataRef" minOccurs="0" type="ExternalReference" />
                <xs:element name="ItemsRef" minOccurs="0" type="ExternalReference" />
                <xs:element name="VariablesRef" minOccurs="0" type="ExternalReference" />

                <xs:element name="Dependencies" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="File" type="Dependency" />
                                <xs:element name="Service" type="Dependency" />
                                <xs:element name="SymLink" type="Dependency" />
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="id" type="xs:ID" use="required" />
            <xs:attribute name="uuid" type="xs:string" />
            <xs:attribute name="lastChange" type="xs:dateTime" />
        </xs:complexType>
    </xs:element>
</xs:schema>
